<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @inventory.brand %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @inventory.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Brand</div>
            <div class="itemValue"><%= @inventory.brand %></div>
          </li>
      
          <li>
            <div class="itemLabel">Product</div>
            <div class="itemValue"><%= @inventory.product %></div>
          </li>
      
          <li>
            <div class="itemLabel">Qty</div>
            <div class="itemValue"><%= @inventory.qty %></div>
          </li>
      
    </ul>
  </div>

</div>
